.cruise-search-widget {
  &__base {
    background: #fff;
    border-radius: 12px;
    font-size: 22px;
    padding: 36px 24px 36px 24px;
    text-align: center;
    letter-spacing: 0.125rem;
    @media (min-width: $desktop-breakpoint) {
      height: auto;
      box-shadow: 0 0.0625rem 1rem 0 $gray;
      padding: 0px;
    }
  }

  &__title {
    color: $gray;
    font-family: "ProximaNova-Bold";
    text-transform: uppercase;
    margin-bottom: 20px;
    @media (min-width: $desktop-breakpoint) {
      display: none;
    }
  }
  &__toolbar {
    .filter {
      @media (max-width: $mobile-breakpoint) {
        margin-bottom: 12px;
      }

      @media (min-width: $desktop-breakpoint) {
        width: 25%;
        margin-bottom: 0px;
      }
    }
    @media (min-width: $desktop-breakpoint) {
      display: inline-flex;
      width: 100%;
      align-items: center;
    }
  }

  &__cta {
    @media (min-width: $desktop-breakpoint) {
      position: absolute;
      right: 32px;
    }
  }

  &__dropdown {
    background-color: white;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 999;
    display: block;
    top: 0px;
    position: absolute;
    overflow: scroll;
    @media (min-width: $desktop-breakpoint) {
      height: auto;
      position: relative;
      overflow: auto;
    }
    &__header {
      display: inline-flex;
      border-bottom: 2px solid $gray3;
      width: 100%;
      padding-bottom: 16px;
      text-align: center;
      justify-content: center;
      padding-top: 16px;
      @media (min-width: $desktop-breakpoint) {
        display: none;
      }
      &--buttonreturn {
        position: absolute;
        left: 16px;
      }
      &--label {
        color: $gray3;
        font-family: "ProximaNova-Regular";
        font-size: 1rem;
      }
      &--buttonapply {
        color: $gray3;
        font-family: "ProximaNova-Regular";
        letter-spacing: 0.125rem;
        text-transform: uppercase;
        background-color: #fff;
        border: 0;
        color: $blue;
        cursor: pointer;
        font-size: 0.875rem;
        position: absolute;
        right: 16px;
      }
    }
    &__content {
      &__options {
        @media (min-width: $desktop-breakpoint) {
          padding: 40px 0px;
          display: grid;
          grid-template-columns: 260px 260px 260px 260px;
          height: 296px;
          justify-content: center;
        }
      }
      &__tabs {
        display: inline-flex;
        @media (max-width: $mobile-breakpoint) {
          border-bottom: 1px solid $blue;
        }
        @media (min-width: $desktop-breakpoint) {
          margin-top: 40px;
        }
        .tab {
          width: 150px;
          @media (min-width: $desktop-breakpoint) {
            width: auto;

            margin-right: 50px;
          }
        }
      }
    }
  }
}
