@font-face {
    font-family: "ProximaNova-Bold";
    src: local("ProximaNova-Bold"), url("./../resources/fonts/lbel/FreigBigProBoo.otf") format("OpenType");
    font-display: swap;
}

@font-face {
    font-family: "ProximaNova-Regular";
    src: local("ProximaNova-Regular"), url("./../resources/fonts/lbel/FreigBigProBoo.otf") format("OpenType");
    font-display: swap;
}
