@font-face {
    font-family: "ProximaNova-Bold";
    src: local("ProximaNova-Bold"), url("../resources/FontsFree-Net-Proxima-Nova-Bold.otf") format("OpenType");
    font-display: swap;
}

@font-face {
    font-family: "ProximaNova-Regular";
    src: local("ProximaNova-Regular"), url("../resources/FontsFree-Net-ProximaNova-Regular.ttf") format("OpenType");
    font-display: swap;
}
